html {
    height: 100%;
}

.hidden {
    display: none;
}

.bold {
    font-weight: bold;
}

.md-icon-youtrack {
    padding: 4px !important;
    line-height: 32px !important;
}

.md-icon-youtrack md-icon {
    background-image: url(../assets/youtrack.png);
    background-size: 100% 100%;
    height: 32px;
    width: 32px;
    line-height: 32px;
}

.item {
    margin-bottom: 10px;
}

.item p {
    flex: 0 0 auto;
}

p.item-task {
    flex: 1 1 auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.item-calendar-icon {
    margin-right: 10px;
}

.item md-progress-linear,
.item md-progress-linear .md-container {
    height: 2px;
    background-color: transparent !important;
}

md-dialog md-datepicker {
    margin-top: 17px;
}

md-dialog .md-dialog-content {
    padding: 12px;
}

.clickable {
    font-weight: bold;
    cursor: pointer;
}

.youtrack-list-issue .md-list-item-inner {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}