<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

		<title>Todos</title>

		<link rel="stylesheet" href="css/vendors.css">
		<link rel="stylesheet" href="css/style.css">
	</head>

	<body ng-cloak>
		<div ng-controller="TodosController" layout="column" layout-fill>
			<md-toolbar>
				<div class="md-toolbar-tools">
					<h2>
                        <span>Nombre de tâche{{ todos.length > 1 ? 's' : '' }} : {{ todos.length }}</span>
					</h2>

                    <span flex></span>

					<md-button class="md-icon-button" ng-show="history.length > 1" ng-click="undo()" aria-label="Annuler">
						<md-icon md-svg-icon="assets/undo.svg"></md-icon>
					</md-button>

                    <md-button ng-if="youtrackEnabled" class="md-icon-button md-icon-youtrack" ng-click="importYoutrack()" aria-label="Import">
						<md-icon></md-icon>
					</md-button>

					<md-button class="md-icon-button" ng-click="showAdd()" aria-label="Ajouter">
						<md-icon md-svg-icon="assets/note_add.svg"></md-icon>
					</md-button>
				</div>
			</md-toolbar>

			<md-content flex>
				<md-list flex>
                    <div class="item" ng-repeat="todo in todos | sort">
                        <md-list-item>
                            <!--<img alt="{{ todo.client }}" ng-src="assets/clients/{{ todo.client }}.png" class="md-avatar" />-->
                            <p ng-if="!isYoutrackIssue(todo.task)" data-index="{{ todo.index }}" class="item-task">{{ todo.task }}</p>
                            <p ng-if="isYoutrackIssue(todo.task)" data-index="{{ todo.index }}" class="item-task clickable" ng-click="openExternal(youtrackURL + '/issue/' + todo.task.split(' ')[0])">{{ todo.task }}</p>
                            <md-icon class="item-calendar-icon" md-svg-src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTkgM2gtMVYxaC0ydjJIOFYxSDZ2Mkg1Yy0xLjExIDAtMS45OS45LTEuOTkgMkwzIDE5YzAgMS4xLjg5IDIgMiAyaDE0YzEuMSAwIDItLjkgMi0yVjVjMC0xLjEtLjktMi0yLTJ6bTAgMTZINVY4aDE0djExek03IDEwaDV2NUg3eiIvPjwvc3ZnPg=="></md-icon>
                            <p>{{ todo.date | moment }}</p>
                            <md-icon ng-click="done(todo)" aria-label="Done" md-svg-icon="assets/done.svg" class="md-secondary md-hue-3"></md-icon>
                        </md-list-item>

                        <md-progress-linear class="md-accent md-hue-1" md-mode="determinate" ng-value="todo.progress"></md-progress-linear>
                    </div>
				</md-list>
			</md-content>
		</div>

		<script src="js/vendors.min.js"></script>
		<script src="js/app.min.js"></script>
	</body>
</html>